<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icons8-机器人-16.png">

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jiaqi Zheng（郑嘉祺）
              </h1>
              <p>Hi, I'm <b>Jiaqi Zheng</b>, a second-year undergraduate student at  <a class="news_style" href="https://english.pku.edu.cn/">Peking University</a>. I am currently majoring in Artificial Intelligence at Yuanpei College <a class="news_style" href="https://tongclass.ac.cn/">Tong Class</a>. I am very honored to be currently supervised by Prof. <a class="news_style" href="http://www.muyadong.com/">Yadong Mu</a> from the <a class="news_style" href="https://www.icst.pku.edu.cn/english/index.htm">Wang Xuan Computer Research Institute</a> at Peking University. My current research interests are embodied AI task planning.
              </p>
              <p>
                Email: 2400017701 [at] stu.pku.edu.cn &nbsp; / &nbsp; jiaqizheng816 [at] gmail.com
              </p>
              <p style="text-align:center">
                <a href="https://github.com/missswiftie">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://x.com/eFc6c4Qenv12133"> X(Twitter) </a>
                <a href="https://www.xiaohongshu.com/user/profile/66bebc42000000001d0217e3"> RedNote/小红书 </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/me.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul style="list-style-type:disc;padding-left:20px;">
                {% for post in site.posts %}
                {% for cat in post.categories %}
                {% if cat == 'news' %}
                <li style="margin-bottom:8px;">
                  [{{ post.date | date: "%Y/%m" }}] {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision and embodied AI task planning.
              </p>
              <p style="font-size:small;color:#666;">
                * Equal contribution.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>{% if post.github_repo %} <a href="{{post.code}}"><img src="https://img.shields.io/github/stars/{{ post.github_repo }}?style=flat&logo=github&label=stars" alt="GitHub stars" style="vertical-align:middle;height:20px;border:0;"></a>{% endif %} /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'education' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image %}
              <img src="{{post.image}}" alt="education image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {{ post.excerpt | markdownify }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experiences</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'experience' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image %}
              <img src="{{post.image}}" alt="experience image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {{ post.excerpt | markdownify }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Awards</h2>
              <ul style="list-style-type:disc;padding-left:20px;">
                {% for post in site.posts %}
                {% for cat in post.categories %}
                {% if cat == 'awards' %}
                <li style="margin-bottom:8px;">
                  {{ post.date | date: "%Y" }}: {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Visitor Map</h2>
              <p style="text-align:center;">
                <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=1zCv1twQlQurp45X75veH2CHcN0KpGjTrqoP09tW2FU"></script>
              </p>
              <p style="text-align:center;font-size:small;color:#666;">
                This map shows visitor locations from around the world.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

